html {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(#333, #222);
	color: #FFFFFF;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
	background-color: transparent;
	color: white;
}

.backdrop {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.detail-details {
	background-color: #FFFFFF;
	position: relative;
	z-index: 10;
	margin-top: 400px;
	color: #333;
	display: flex;
	text-align: left;
	gap: 20px;
	padding: 20px;
}

.detail-poster {
	margin-top: -160px;
	box-shadow: rgba(0, 0, 0, 0.4);
	/* position: relative;
	top: -100px; */
} 